body {
  height: 200vh;
  overflow: auto;
  background-color: black;

}

#contenedor {
  height: 100vh;
    position: fixed;
    top: auto;
}

.textoDer {
  position: fixed;
  font-style:oblique);
  top: 89%;
  right: 30%;
  font-size: 2.3em;
}

.claseImg{
  width: 100vw;
  height: auto;
}